@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  background-color: #1A1A1D;
  color:  whitesmoke;
} 

input {
  text-align: left;
}

input:focus {
  background-color:#1A1A1D;
  border-color: #C3073F;
  outline:#C3073F;
}

::selection {
  background-color: #950740; /* Change this to your desired background color */
  color: #ffffff; /* Change this to your desired text color */
}

#main {
  color: #950740;
}

#custom-button {
  border-radius: 12px; /* Rounded corners for a circle */
  padding: 0.75rem; /* Adjust padding as needed */
  background-color: #950740; /* Custom light red background color */
  color: whitesmoke; /* Custom cyan text color */
  margin-left: 0.25rem; /* Adjust margin as needed */
  margin-right: 0.25rem; /* Adjust margin as needed */
  margin-top: 3rem; /* Adjust margin as needed */
  margin-bottom: 1rem; /* Adjust margin as needed */
  text-align: center; /* Center text within the button */
  cursor: pointer; /* Change cursor on hover */

  /* Define hover state */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

/* Define hover style for the button */
#custom-button:hover {
  background-color: #6F2232; /* Custom dark red background color on hover */
}

#rectangle {
  width: 1500px; /* Adjust the width as needed */
  height: 120px; /* Adjust the height as needed */
  border: 0.1px; /* Border color and width */
  background-color: #1A1A1D; /* Background color */
  margin: 0 auto; /* Center the div horizontally */
}

.video-container {
  width: 320px;
  height: 240px;


}

#myVideo {
  width: 100%;
  height: 100%;
  position: static;
  top: 0;
  left: 0;
/* Prevents the video from capturing mouse events */
}