@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {

  color:  whitesmoke;
} 
@media (max-width: 640px) {
  .video-card {
    width: 100%; /* Set the width to 100% for small screens */
  }

  /* Adjust the number of columns and spacing as needed */
  #projectsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; /* Adjust the spacing between project cards */
  }
}

input {
  text-align: left;
}

input:focus {

  border-color: #3b82f6;
  outline:#3b82f6;
}

.gradient-selection {
  --selection-background: linear-gradient(to right, #ffffff, #ff0000); /* Define your gradient here */
}

/* Apply the gradient to the selection */
::selection {
  background: #950740;
  color: black; /* You can also adjust the text color */
}

#main {
  color: #950740;
}

#custom-button {
  padding: 0.75rem; /* Adjust padding as needed */
  margin-left: 0.25rem; /* Adjust margin as needed */
  margin-right: 0.25rem; /* Adjust margin as needed */
  margin-top: 3rem; /* Adjust margin as needed */
  margin-bottom: 1rem; /* Adjust margin as needed */
  text-align: center; /* Center text within the button */
  cursor: pointer; /* Change cursor on hover */

 /* Smooth transition for background color */
}



.video-container {
  width: 320px;
  height: 240px;


}

#myVideo {
  width: 100%;
  height: 100%;
  position: static;
  top: 0;
  left: 0;
/* Prevents the video from capturing mouse events */
}


  .underline-animation::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2.5px;
    bottom: 0;
    left: 0;
    background-color: #3b82f6;
    transition: width 0.4s ease;
  }

  .underline-animation:hover::before {
    width: 100%;
  }

